<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<style>
    body {
      font-family: Helvetica, sans-serif;
    }
    .status-message {
      background-color: #5ff;
      margin-bottom: 10px;
      text-align: center;
    }
    textarea {
      margin: 10px 0;
      resize: none;
    }
  </style>

	<title>Home Page
	</title>


<meta name="author" content="Sajeev Mahajan">
<meta name="content" content="Website">

</head>
<body>
