<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>

<form class="" action="/addBlog" method="post">
 <textarea name="content"></textarea>
  <button type="submit" name="button">Submit</button>
</form>
    <script>
        CKEDITOR.replace( 'content' );
    </script>