 <%include partials/header2%>
 		<br>
 		<div class="container">	
   			<br>
   			<div class="jumbotron">
 				<form action="loginuser" method="POST">
 					<div class="form-group">
 						<label>Name :</label>
				 		<input type="text" name="name" class="form-control">
 					</div>
 					<div class="form-group">
 						<label>Password :</label>
				 		<input type="password" name="password" class="form-control">
 					</div>
 					<button type="submit" class="btn btn-primary">Submit</button>
				 	</form>
   			</div>
 		</div>
<!--     <div class="container">
<div class="form-group">
	
	<h3 style="color: white"><label>Show Blogs Of Chapter 1 (My Final Year Journey)</label></h3>
	<h4><strong style="color: white">Enter Access Key : </strong></h4>	
	<input class="form-control" type="password" id="text" /><br>
	<button id="btn" class="btn btn-success btn-lg">Submit</button>
</div>
</div>
 -->