 <%include partials/header2%>
 		<div class="container">	
   			<div class="jumbotron">
 				<form action="loginuser" method="POST">
 					<strong style="color: white;"><label>Name</label></strong>
				 	<input type="text" name="name">
				 	<strong style="color: white;"><label>Password</label></strong>
				 	<input type="password" name="password">
				 	<button>Submit</button>
				 	</form>
   			</div>
 		</div>
    