<%include partials/header%>


		<div class='row'>
			<div class='col-lg-6'>
			</div>
			
   <div class='col-lg-5'>
     <div id="particles-js">
   <canvas class="particles-js-canvas-el" style="width: 50%; height: 100%;" max-width="648" height="395"></canvas>
   </div>
    <div>
   	<div id="my_name"> SAJEEV MAHAJAN  </div>
   	<h2>Hi ! I am a <span id="rotate"> Here  </span> ! </h2>
   	 <br>
   	 <a href="/loginuser"> <button type="button" name="button" class="btn btn-success btn-lg">Login</button> </a>
   	 <%if(flag==1){%>
   	 <h3>My Life :-</h3>
   	 <a href="/addBlog"> <button type="button" name="button" class="btn btn-success btn-lg">Add Blog</button> </a>
     <a href="/showBlog"> <button type="button" name="button" class="btn btn-success btn-lg">Show Blog</button> </a>     
     <a href="/kaf"> <button type="button" name="button" class="btn btn-success btn-lg">KAF</button> </a>
	<%}%>
			
			<br>
			<h3>Connect With Me Socially - </h3>
			<a href="https://www.facebook.com/sajeev.mahajan">Facebook</a>
			<a href="https://www.linkedin.com/in/sajeevmahajan">Linked In</a>
			<a href="https://www.instagram.com/fluxer7/">Instagram</a>
			<h3>Projects </h3>
			<a href="https://www.codechef.com/users/sjv97mhjn">CodeChef</a>
			<a href="https://github.com/sjv97mhjn">GitHub</a>

	 <%if(flag!=1){%>
   	 <br><br><br><br><br>
   	 <%}%>
<!--  <h3>Find Me @</h3> 
 <div id="map"> </div>
 --> 
</div>
	 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 </div>

</div>






 <link rel="stylesheet" href="style.css">
 

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" ></script>
 <script type="text/javascript" src="main.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC78v4vybGcTzsNcYpRXm8ZNU1Edhr4YF8&callback=myMap"></script>


</body>
</html>
