<%include partials/header%>









<!--
	<div id="particles-js">
		<canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1296" height="395"></canvas>

   </div>
    <h1>This Side Will Developed Using JQUERY</h1> -->

		<div class='row'>
			<div class='col-lg-6'>
				<br>
				<img id="mypic"  src="mypic.jpg"  style="max-height: 900px;max-width: 800px;float: left;" >
			</div>
<!--
			<br>
			<div class="col-lg-6">
				<div class="jumbotron"  style="max-height:230px ;max-width:800px">
					<div class="container">
		    <h1 style="color:black">SAJEEV MAHAJAN</h1>
		    <h3 style="color:black">Web Developer</h3>
		    <h3 style="color:black">Database Developer</h3>
		    <h3 style="color:black">JS Lover</h3>
					</div>
				</div>
		</div>
		<div class="col-lg-6">
			<div class="jumbotron"  style="max-height:230px ;max-width:800px">
				<div class="container">
			<h1 style="color:black">SAJEEV MAHAJAN</h1>
			<h3 style="color:black">Web Developer</h3>
			<h3 style="color:black">Database Developer</h3>
			<h3 style="color:black">JS Lover</h3>
				</div>
			</div>
	</div>

	<div class="col-lg-6">
		<div class="jumbotron"  style="max-height:230px ;max-width:800px">
			<div class="container">
		<h1 style="color:black">SAJEEV MAHAJAN</h1>
		<h3 style="color:black">Web Developer</h3>
		<h3 style="color:black">Database Developer</h3>
		<h3 style="color:black">JS Lover</h3>
			</div> -->

			<br>
			<div>
		 <a href="/addBlog"> <button type="button" name="button" class="btn btn-success btn-lg">Add Blog</button> </a>
		 <br><br>
		 <a href="/showBlog"> <button type="button" name="button" class="btn btn-success btn-lg">Show Blog</button> </a>
			</div>
			<br>
			<h3>Social Links</h3>
			<a href="https://www.facebook.com/sajeev.mahajan">Facebook</a>
			<a href="https://www.linkedin.com/in/sajeevmahajan">Linked In</a>
			<a href="https://www.instagram.com/fluxer7/">Instagram</a>
			<h3>Check My Work @</h3>
			<a href="https://www.codechef.com/users/sjv97mhjn">CodeChef</a>
			<a href="https://github.com/sjv97mhjn">GitHub</a>

</div>





<style>
h1 {
	color:black;
}
</style>
<!-- <link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
-->
<!-- <script >
	particlesJS.load('particles-js', 'particle.json', function() {
    console.log('callback - particles.js config loaded');
})
</script> -->
</body>
</html>
